.root{
    -fx-base: rgb(41, 41, 41);
    -fx-text-fill: rgb(0, 0, 0);
    -fx-background: rgb(81, 86, 88);
}

.list-cell:filled:selected {
    -fx-background-color: rgb(51, 57, 59);
    -fx-text-fill: blue;
}
